<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp">
	<div ng-controller="orderCtrl">
		<ul>
			<li ng-repeat="x in customers | orderBy : selected">{{x.name + ", " + x.city}}</li>
			<select ng-options="item for item in ['city', 'name']" ng-model="selected"></select>
		</ul>
		<p>The array items are sorted by: {{selected}}</p>
	</div>

<script>
	var app = angular.module('myApp', []);
	app.controller('orderCtrl', function ($scope) {
		$scope.customers = [
		{ "name": "Bottom-Dollar Marketse", "city": "Tsawassen" },
		{ "name": "Alfreds Futterkiste", "city": "Berlin" },
		{ "name": "Bon app", "city": "Marseille" },
		{ "name": "Cactus Comidas para llevar", "city": "Buenos Aires" },
		{ "name": "Bolido Comidas preparadas", "city": "Madrid" },
		{ "name": "Around the Horn", "city": "London" },
		{ "name": "B's Beverages", "city": "London" }
		];
	});
</script>
</body>
</html>
