<head>
                <link rel="stylesheet" type="text/css" href="components\RetrivePassword\retriveStyle.css">
        </head>

<form ng-submit="retrivePassCtrl.retrive()" name='retrivePassForm'>
    <p>Username:
        <input type="text" name="username" ng-model="retrivePassCtrl.user.username" placeholder="enter username" required minlength="8" maxlength="8" ng-pattern="/^[a-zA-Z]*$/">
        <span ng-show="retrivePassForm.username.$touched && retrivePassForm.username.$error.required">
                This is a required field
        </span>
        <span ng-show="retrivePassForm.username.$error.minlength || retrivePassForm.username.$error.maxlength || retrivePassForm.username.$error.pattern">
                invalid username
        </span>
    </p>
    <p>Choose Question:
        <select name="question" ng-options="question for question in retrivePassCtrl.questions" ng-model="retrivePassCtrl.user.verificationQues" required></select>
        <span ng-show="retrivePassForm.question.$touched && retrivePassForm.question.$error.required">
                This is a required field
        </span>
    </p>
    <p>Answer:
        <input type="text" name="answer" ng-model="retrivePassCtrl.user.verificationAns" placeholder="enter your answer" required minlength="2" maxlength="50" ng-pattern="/^[a-zA-Z\w]*$/">
        <span ng-show="retrivePassForm.answer.$touched && retrivePassForm.answer.$error.required">
                This is a required field
        </span>
        <span ng-show="retrivePassForm.answer.$error.minlength || retrivePassForm.answer.$error.maxlength || retrivePassForm.answer.$error.pattern">
                invalid answer
        </span>
    </p>
    <button type="submit" id="retrivePassword" ng-disabled="!retrivePassForm.$valid "/>Retrive Password</button>
</form>