h1{
    text-align: center;
}
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
img{

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
