<head>
    <link rel="stylesheet" type="text/css" href="components\About\aboutStyle.css">
</head>


<h1>About Tornto</h1>
<div ng-init="aboutCtrl.init()">
    <p>
        Toronto, the capital of the province of Ontario, is a major Canadian city along Lake Ontario’s northwestern shore.
        <br> It's a dynamic metropolis with a core of soaring skyscrapers, all dwarfed by the iconic, free-standing CN Tower.
        <br> Toronto also has many green spaces, from the orderly oval of Queen’s Park to 400-acre High Park and its trails,
        sports facilities and zoo.
        <br>
    </p>
    <hr>
    <p>

        Whether it's your first time visiting Toronto or you're a born-and-bred Torontonian,there's no shortage of things to see
        and do in the city.
        <br> our eclectic city is home to world-class attractions, dynamic arts and culture, and a diverse culinary scene.
        <br> Not sure where to start? Explore the most attractive points of view in the city!
    </p>

    <section id="photos" class="section">
        <br/>
        <br/>

        <div class="wrap">
            <div id="arrow-left" class="arrow"></div>
            <div id="slider">
                <div class="slide slide1">
                    <div class="slide-content">

                    </div>
                </div>
                <div class="slide slide2">
                    <div class="slide-content">
                    </div>
                </div>
                <div class="slide slide3">
                    <div class="slide-content">
                    </div>
                </div>
                <div class="slide slide4">
                    <div class="slide-content">
                    </div>
                </div>
                <div class="slide slide5">
                    <div class="slide-content">
                    </div>
                </div>
                <div class="slide slide6">
                        <div class="slide-content">
                        </div>
                </div>
            </div>
            <div id="arrow-right" class="arrow"></div>
        </div>
        <br/>
        <br/>
        <br/>
    </section>

    <br>
    <button type="button" ng-click="aboutCtrl.goToPoi()">Explore Toronto</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>